<app-navbar></app-navbar>

<div class="container mt-4">

  <div class="card shadow">

    <div class="card-header bg-primary text-white">
      Liste des Clients
    </div>

    <div class="card-body">

      <table class="table table-bordered table-hover">

        <thead class="table-dark">

          <tr>
            <th>ID</th>
            <th>Nom</th>
            <th>Email</th>
            <th>Action</th>
          </tr>

        </thead>

        <tbody>

          <tr *ngFor="let c of clients">

            <td>{{ c.id }}</td>

            <td>{{ c.nom }}</td>

            <td>{{ c.email }}</td>

            <td>

              <button
                class="btn btn-danger btn-sm"
                (click)="deleteClient(c.id)"
              >
                Delete
              </button>

            </td>

          </tr>

        </tbody>

      </table>

    </div>

  </div>

</div>