<app-navbar></app-navbar>

<div class="container mt-4">

  <div class="card shadow">

    <div class="card-header bg-warning">
      Liste des Paiements
    </div>

    <div class="card-body">

      <table class="table table-bordered">

        <thead class="table-dark">

          <tr>

            <th>ID</th>

            <th>Date</th>

            <th>Montant</th>

            <th>Type</th>

          </tr>

        </thead>

        <tbody>

          <tr *ngFor="let p of paiements">

            <td>{{ p.id }}</td>

            <td>{{ p.datePaiement }}</td>

            <td>{{ p.montant }}</td>

            <td>{{ p.typePaiement }}</td>

          </tr>

        </tbody>

      </table>

    </div>

  </div>

</div>